html {
	background: url('../img/border.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: none;
	filter: grayscale(100%);
	z-index: 999;
}