#originalprogressbar {
	position: relative;
	margin: auto;
	margin-top: 25%;
	height: 100px;
	width: 100px;
	text-align: center;
}

#text {
	color: rgb(250, 250, 250);
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	display: inline-block;
	margin-top: 40%;
}

svg {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	right: 0;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

#circle {
	stroke-dasharray: 188.49555921539px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 3.0px;
	fill: none;
}

@keyframes countdown {
	from {
		stroke-dashoffset: 0px;
		stroke: red;
	}

	to {
		stroke-dashoffset: 188.49555921539px;
		stroke: rgb(9, 255, 0);
	}
}